

header {
      background-image: linear-gradient(to bottom, var(--color-primary), #F1F9F9);
      height: 150px;
      display: flex;
      padding-top: 5px;
}

.dsmovie-nav-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.dsmovie-logo {
      display: flex;
      align-items: center;
}

.dsmovie-film-icon {
      height: 25px;
      width: 25px;
}

.dsmovie-nav-content h1 {
      margin: 0;
      font-family: "Nunito", sans-serif;
      font-size: 2rem;
}

.dsmovie-contact-link-icon {
      height: 30px;
}

.dsmovie-contact-link {
      font-size: 12px;
}