@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;300;500&family=Nunito:wght@400&display=swap');

:root {
      --color-primary: #A0BABC;
}

* {
      box-sizing: border-box;
      font-family: "Encode Sans Condensed", sans-serif;
      font-weight: 300;
}

html,
body {
      background-image: linear-gradient(to bottom, #F1F9F9, #FFFFFF);
      color: #505050;
      min-height: 100vh;
}

a,
a:hover {
      text-decoration: none;
      color: unset;
}
