@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@100;400;700&display=swap");

:root {
      --color-primary: #F8F0DF;
}

* {
      box-sizing: border-box;
      font-family: "Merriweather Sans", sans-serif;
}

html,
body {
      background-color: #F1F9F9;
      color: #505050;
}

a,
a:hover {
      text-decoration: none;
      color: unset;
}
