.dsmovie-pagination-container {
      padding: 12px 0;
      margin-top: -115px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.dsmovie-pagination-box {
      width: 180px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
}

.dsmovie-pagination-box form {
      width: 100%;
      display: flex;
}

.dsmovie-pagination-button {
      width: 35px;
      height: 30px;
      padding: 8px;
      border-radius: 10px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid rgba(128, 128, 128, 0.6);
      box-shadow: 1px 1px 8px var(--color-primary), -1px -1px 8px var(--color-primary);
      cursor: pointer;
}

.dsmovie-pagination-button svg {
      filter: brightness(0) saturate(100%) invert(26%) sepia(19%) saturate(25%) hue-rotate(234deg) brightness(89%) contrast(92%);
}

.dsmovie-pagination-button:disabled {
      border: 3px solid rgba(128, 128, 128, 0.2);
      box-shadow: none;
      cursor: unset;
}

.dsmovie-pagination-button:disabled svg {
      filter: none;
}

.dsmovie-pagination-container p {
      margin: 0;
      font-size: 14px;
      color: black;
}

.dsmovie-flip-horizontal {
      transform: rotate(180deg);
}
